@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}
.container {
  min-height: 100vh;
}
.container__row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.container__col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
}
.container__col-header_start {
  background: linear-gradient(90deg, #ff85e4 0%, #229efd 179.25%);
}
.container__col-header_progress {
  background: linear-gradient(90deg, #209cff 0%, #68e0cf 100%);
}
.container__col-header_done {
  background: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
}
.container__placeholder {
  width: 150px;
  height: 66px;
}
.placeholder__item {
  width: 150px;
  height: 66px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  background: #f7f6f7;
  color: #828282;
  text-align: center;
  cursor: grab;
  display: flex;
  justify-content: center;
  align-items: center;
}
.placeholder__item:active {
  cursor: grabbing;
}
.hold {
  background-color: #dac5da;
  width: 170px;
  height: 80px;
}
.hide {
  display: none;
}
.hovered {
  height: 50vh;
  background-color: #dac5d5;
  border: 50%;
  border-radius: 50px;
}
